.page{
    width: 700px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-left: 25rem;
}
img{
    width: 300px;
}
.image{
    padding: 20px 0 0 30px;
    margin: 0 0 0 20px;
}
.content{
    color: #FFFFFF;
    margin: 0 0 0 20px;
}
.title{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0 0 0;
}
.tagline{
    font-size: 15px;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0 0 0;
}
.bt{
    width: 160px;
    height: 45px;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: red;
    border: 0px;
    border-radius: 35px;
    margin: 25px 0 0 2px;
}